h1 {
    background-color: rgb(250, 133, 0);
    font-size: 36px;
    font-family:Arial, Helvetica, sans-serif;
}
.subheader {
    font-size: 30px;
}

img {
    height: 400px;
    width:auto;
}
ul {
    background-color: yellow;
}

ol {
    background-color: rgb(245, 142, 24);
}